<!DOCTYPE html>
<html>

<head>
    <title></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/css/materialize.min.css">
</head>

<body>
    <h1></h1>
    <p>Welcome to </p>
    <h2>CREATE USER</h2>
    <form class="" action="/Users/create" method="post">
        <label>Username</label>
        <input type="text" name="username" value=""> <br>
        <label>phone</label>
        <input type="text" name="phone" value=""><br>
        <label>email</label>
        <input type="text" name="email" value=""><br>
        <label>position: </label><br>
        <input type="checkbox" name="position" value=1>
        <label>keeper</label><br>
        <input type="checkbox" name="position" value=2>
        <label>back</label><br>
        <input type="checkbox" name="position" value=3>
        <label>striker</label><br>
        <button type="submit" name="button">submit</button>
    </form>
</body>

</html>
