<!DOCTYPE html>
<html>

<head>
  <title>
    <%= title %>
  </title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <table style="width:100%">
    <tr>
      <th>Username</th>
      <th>Phone</th>
      <th>Email</th>
      <th>Position</th>
    </tr>
    <tr>
      <td>Jill</td>
      <td>Smith</td>
      <td>50</td>
    </tr>
  </table>
</body>

</html>
